database/api/.vs/api/DesignTimeBuild/.dtbcache.v2
database/api/.vs/api/FileContentIndex/4d7bddfa-c5e5-485f-9c27-cc9843aa12f3.vsidx
database/api/.vs/api/FileContentIndex/5a66a088-1fb9-407d-8ee2-a5870691a712.vsidx
database/api/.vs/api/FileContentIndex/8c5fa676-f990-4088-8098-83deee7f2bf2.vsidx
database/api/.vs/api/FileContentIndex/377c9478-a0eb-4209-b8ae-11ddf266e83c.vsidx
database/api/.vs/api/FileContentIndex/ad1b4b59-d811-4f16-bb86-76a235c5e4fe.vsidx
database/api/.vs/api/v17/.suo
database/api/api/bin/Debug/net6.0/api.dll
database/api/api/bin/Debug/net6.0/api.exe
database/api/api/bin/Debug/net6.0/api.pdb
database/api/api/obj/api.csproj.nuget.dgspec.json
database/api/api/obj/api.csproj.nuget.g.props
database/api/api/obj/project.assets.json
database/api/api/obj/project.nuget.cache
database/api/api/obj/Debug/net6.0/api.AssemblyInfo.cs
database/api/api/obj/Debug/net6.0/api.AssemblyInfoInputs.cache
database/api/api/obj/Debug/net6.0/api.assets.cache
database/api/api/obj/Debug/net6.0/api.csproj.AssemblyReference.cache
database/api/api/obj/Debug/net6.0/api.csproj.CoreCompileInputs.cache
database/api/api/obj/Debug/net6.0/api.csproj.FileListAbsolute.txt
database/api/api/obj/Debug/net6.0/api.dll
database/api/api/obj/Debug/net6.0/api.GeneratedMSBuildEditorConfig.editorconfig
database/api/api/obj/Debug/net6.0/api.genruntimeconfig.cache
database/api/api/obj/Debug/net6.0/api.pdb
database/api/api/obj/Debug/net6.0/api.sourcelink.json
database/api/api/obj/Debug/net6.0/apphost.exe
database/api/api/obj/Debug/net6.0/ref/api.dll
database/api/api/obj/Debug/net6.0/refint/api.dll
