.signup{
    width: 400px;
    height: 400px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 3%;
    h2{
        text-align: center;
    }
    button{
        display: block;
        position: relative;
        margin-top: 20px;
        width: 150px;
        left: 50%;
        transform: translate(-50%);
        -webkit-transform: translate(-50%);
    }
}